.dactive {
     opacity: 0.5;
      cursor: not-allowed;
      filter: grayscale(80%);
      box-shadow: none;
      transform: none;
      pointer-events: none;
 
    }

    .ml{
        margin-left: 30%;
    }

     @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-15px);
      }
      60% {
        transform: translateY(-8px);
      }
    }
    .btn-bounce {
      animation: bounce 2s infinite;
    }
    .bon{
      position: absolute;

      display: none;
      right: 0;
    }